
#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: var(--elevation-raised);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: var(--space-row-gap) var(--space-panel-gap) var(--space-row-gap) var(--space-panel-gap);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: var(--space-section-gap);
        top: var(--space-row-gap);
    }
